//includebale
$h1-font-sizes: (
  exs:  24px,
  sm:   36px,
  md:   55px,
  lg:   65px
);
$h2-font-sizes: (
  exs:  17px,
  sm:   18px,
  md:   21px,
  lg:   25.5px
);
$h3-font-sizes: (
  exs:  20px,
  xs:   26px,
  sm:   35px,
  md:   40px
);
.h1,
.h2,
.h3{
  margin: 0;
}
.h1{
  @include font-size($h1-font-sizes);
  line-height: 1.1;
  @extend .blacks;
  @extend .ttu;
}
.h2{
  @include font-size($h2-font-sizes);
  @extend .regular;
}
.h3{
  @include font-size($h3-font-sizes);
  @extend .bold;
}
// @include resp-max(sm){
//   .h{
//     &1{
//       margin: 0 0 30px 0;
//     }
//   }
// }