//$sizes in _config.scss
@each $size-name, $size-value in $sizes{
  .#{$size-name}{
    font-size: #{$size-value};
  }
}
.t{
  &tu{
    text-transform: uppercase;
  }
  &du{
    text-decoration: underline;
  }
  &dn{
    text-decoration: none;
  }
}
.text{
  &-center{
    text-align: center;
  }
  &-left{
    text-align: left;
  }
  &-right{
    text-align: right;
  }
}
@each $br-name, $br-value in $breakpoints{
  @include resp-max($br-name){
    .max-#{$br-name}-center{
      text-align: center;
    }
  }
  @include resp-min($br-name){
    .min-#{$br-name}-right{
      text-align: right;
    }
  }
}
%lighten{
  font-weight: 100;
}
@for $i from 1 through 4{
  .h#{$i}, h#{$i}{
    @extend %lighten;
  }
}


