//$sizes in _config.scss
@each $size-name, $size-value in $sizes{
  .#{$size-name}{
    font-size: #{$size-value};
  }
}
.t{
  &tu{
    text-transform: uppercase;
  }
  &du{
    text-decoration: underline;
  }
  &dn{
    text-decoration: none;
  }
}
.text{
  &-center{
    text-align: center;
  }
  &-left{
    text-align: left;
  }
  &-right{
    text-align: right;
  }
}
@each $br-name, $br-value in $breakpoints{
  @include resp-max($br-name){
    .max-#{$br-name}-center{
      text-align: center;
    }
  }
  @include resp-min($br-name){
    .min-#{$br-name}-right{
      text-align: right;
    }
  }
}

//includebale
$h1-font-sizes: (
  exs:  24px,
  sm:   36px,
  md:   61px,
  lg:   71px
);
$h2-font-sizes: (
  exs:  17px,
  sm:   18px,
  md:   21px,
  lg:   25.5px
);
$h3-font-sizes: (
  exs:  20px,
  xs:   26px,
  sm:   35px,
  md:   40px
);
%lighten{
  font-weight: 100;
}
@for $i from 1 through 4{
  .h#{$i}, h#{$i}{
    @extend %lighten;
  }
}
.h1{
  @include font-size($h1-font-sizes);
  line-height: 1.1;
  margin: 0 0 25px;
  @extend .blacks;
}
.h2{
  @include font-size($h2-font-sizes);
  @extend .regular;
  margin: 0;
}
.h3{
  @include font-size($h3-font-sizes);
  @extend .bold;
  margin-bottom: 0;
}
// @include resp-min(sm){
//   .h3{
//     &.m-m{
//       margin-bottom: 50px;
//     }
//     &.b-m{
//       margin-bottom: 70px;
//     }
//   }
// }
@include resp-max(sm){
  .h{
    &1{
      margin: 0 0 30px 0;
    }
  }
}
